<header class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo" [routerLink]="['/home']">
      <img src="assets/logo.png" alt="Logo">
      <span>CX Apartment</span>
    </div>

    <!-- Navigation Menu -->
    <nav class="nav-menu">
      <a *ngFor="let item of menuItems"
         [routerLink]="item.route"
         routerLinkActive="active">
        <i class="icon-{{item.icon}}"></i>
        {{ item.label }}
      </a>
    </nav>

    <!-- User Menu -->
    <div class="user-menu">
      <div *ngIf="isLogged; else notLogged">
        <img [src]="userAvatar" alt="Avatar">
        <span>{{ userName }}</span>
        <button (click)="logout()">Logout</button>
      </div>

      <ng-template #notLogged>
        <a routerLink="login">Login</a>
      </ng-template>
    </div>
  </div>
</header>
